﻿@model TheLibraryAspNetCore.Models.Book
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBook</title>
</head>
<body>
    <div class="panel-body">
        @ViewBag.Message
        @using (Html.BeginForm())
        {
            <form action="/Home/AddBook/@ViewData["authorId"]" method="post">
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Book title:</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
                <input type="submit" value="Add" class="btn btn-default">
                <a asp-action="Index">
                    Cancel
                </a>
            </form>
        }
    </div>

</body>
</html>
