﻿@model TheLibraryAspNetCore.Models.Author
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteBook</title>
</head>
<body>
    <div>
        Yor really want to delete this "@Model.BooksCollection.First().Title" book?
        <br />
      <form action="/Home/DeleteBook/@Model.Id/@Model.BooksCollection.First().Id" method="post">
            <input type="submit" value="Delete" class="btn btn-default" >
        </form>
        <a asp-action="Index">
            Cancel
        </a>
    </div>
</body>
</html>
