﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewBookAdded</title>
</head>
<body>
    <div> 
        Thanks) A new book has been added by you.
    </div>
    <a asp-action="Index" >
        Back to authors
    </a>
</body>
</html>
