﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trouble</title>
</head>
<body>
    <div> 
        Ups, some trouble happened!
    </div>
</body>
</html>
