﻿@model TheLibraryAspNetCore.Models.Author

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBooks</title>
</head>
<body>
    <div>
        @foreach (var book in Model.BooksCollection)
        {
            @book.Title;
            <a asp-action="DeleteBook"  asp-route-authorId="@Model.Id" asp-route-bookId="@book.Id">
                Х
            </a>

            <br />
        }
        <br />
        <a asp-action="AddBook" asp-route-authorId="@Model.Id" >
            AddBook
        </a>
    </div>
</body>
</html>
